@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Kenia", sans-serif;

$colorOne: #6499e9;
$colorTwo: #b4bdff;
$colorThree: #a6f6ff;
$colorFour: #befff7;

body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #9eddff;

  .head-Wrap {
    height: 95%;
    width: 95%;
    background-color: $colorTwo;
    padding: 5px;
    border-radius: 15px;
    overflow-x: auto;

    .button-Wrap {
      height: 5%;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: end;

      .add-Note {
        font-weight: 600;
        font-family: $fontOne;
        font-size: 13px;
        background-color: $colorOne;
        border: solid $colorThree 2px;
        border-radius: 5px;
        padding: 8px 30px;
        color: $colorThree;
        transition: all 100ms ease-in-out;
        cursor: pointer;
      }

      .add-Note:hover {
        background-color: $colorFour;
        color: $colorOne;
        border: solid $colorOne 2px;
      }

      .add-Note:active {
        background-color: $colorOne;
        border: solid $colorThree 2px;
        color: $colorFour;
      }
    }

    .notes-Wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: start;
      justify-content: start;
      top: 0;
      gap: 5px;
      height: 95%;
      border-radius: 0 0 15px 15px;

      .note-Card {
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 250px;
        border-radius: 22px;
        margin: 5px;
        background-color: $colorOne;
        color: aliceblue;
        font-family: $fontOne;
        font-size: 10px;
        border: solid $colorThree 5px;

        .upper-Note-Side {
          display: flex;
          flex-direction: row;
          justify-content: end;
          text-align: center;
          align-items: center;
          padding: 5px;
          border-radius: 15px 15px 0 0;
          gap: 10px;
          background-color: $colorThree;
          height: 20%;

          button {
            background-color: $colorOne;
            border-radius: 10px 10px 0 0;
            padding: 5px;
            height: 30px;
            width: 30px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: solid whitesmoke 2px;

            i {
              color: $colorFour;
            }
          }

          button:hover {
            background-color: $colorFour;
            color: $colorOne;
            border: solid $colorOne 2px;

            i {
              color: red;
            }
          }

          button:active {
            background-color: $colorOne;
            color: $colorFour;
            border: solid whitesmoke 2px;

            i {
              color: $colorFour;
            }
          }
        }

        .note-Text-Area {
          text-align: start;
          height: 80%;
          padding: 5px;
          border-radius: 0 0 15px 15px;
          resize: none;
          border: none;
          background-color: $colorOne;
          color: whitesmoke;
          font-size: 15px;
          font-family: $fontOne;
          font-weight: 600;
          outline: none;
        }
      }
    }

    @media screen and (max-width: 769px) {
      .notes-Wrap {
        align-items: start;
        justify-content: center;
        top: 0;
        gap: none;

        .note-Card {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
